@model SummerCamp.CyberHelp.Website.Models.Dashboard

<div class="container">
    <div class="block-header">
        <h2>Dashboard</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
            </li>
        </ul>

    </div>

    <div class="mini-charts">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-red">
                    <div class="clearfix">
                        <div class="chart stats-bar">
                            <canvas width="68" height="35" style="display: inline-block; width: 68px; height: 35px; vertical-align: top;"></canvas>
                        </div>
                        <div class="count">
                            <small>Nouvelle alertes</small>
                            <h2>@Model.NewAlert</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-deeporange">
                    <div class="clearfix">
                        <div class="chart stats-bar-2"><canvas width="68" height="35" style="display: inline-block; width: 68px; height: 35px; vertical-align: top;"></canvas></div>
                        <div class="count">
                            <small>En cours</small>
                            <h2>@Model.ValidateAlert</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-green">
                    <div class="clearfix">
                        <div class="chart stats-line"><canvas width="68" height="35" style="display: inline-block; width: 68px; height: 35px; vertical-align: top;"></canvas></div>
                        <div class="count">
                            <small>Organisation</small>
                            <h2>@Model.ClosedAlert</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-indigo">
                    <div class="clearfix">
                        <div class="chart stats-line-2"><canvas width="68" height="35" style="display: inline-block; width: 68px; height: 35px; vertical-align: top;"></canvas></div>
                        <div class="count">
                            <small>Total</small>
                            <h2>@Model.Total</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <!-- Recent Items -->
            <div class="card">
                <div class="card-header">
                    <h2>Dernières alertes <small>5 dernières alertes</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                        </li>
                    </ul>
                </div>

                <div class="card-body m-t-0">
                    <table class="table table-inner table-vmiddle">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Commentaire</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var alert in Model.LastAlerts)
                            {
                                <tr class="c-white @alert.StatusLineClass">
                                    <td>@alert.RecordedDate.ToLocalTime()</td>
                                    <td>@alert.Comment</td>
                                    <td>@alert.StatusDescription</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div id="recent-items-chart" class="flot-chart" style="padding: 0px; position: relative;">
                    <canvas class="flot-base" width="1347" height="225" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 898px; height: 150px;"></canvas><canvas class="flot-overlay" width="1347" height="225" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 898px; height: 150px;"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>