@model SummerCamp.CyberHelp.Website.Models.Classroom

<div class="container container-alt">

    <div class="block-header">
        <h2>
            @Model.ClassroomInfo.ClassRoomName
            <small>Ecole @Model.ClassroomInfo.SchoolName</small>
        </h2>

    </div>

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow mCustomScrollbar _mCS_3 mCS-autoHide" style="overflow: visible;">
            <div id="mCSB_3" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;" tabindex="0">
                <div id="mCSB_3_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">

                    <div class="pmo-pic">
                        <div class="p-relative">
                            <a href="">
                                <img class="img-responsive mCS_img_loaded" src="~/img/contacts/@(Model.Teacher.CyberHelpUserID).jpg" alt="">
                            </a>
                        </div>


                        <div class="pmo-stat">
                            <h2 class="m-0 c-white">@Model.Alerts.Count()</h2>
                            Total d'alertes
                        </div>
                    </div>

                    <div class="pmo-block pmo-contact hidden-xs">
                        <h2>Professeur</h2>

                        <ul>
                            <li><i class="zmdi zdmi-contact"></i> @Model.Teacher.FirstName @Model.Teacher.LastName</li>
                        </ul>
                    </div>
                </div>
            </div><div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 587px; max-height: 695px; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_3_scrollbar_horizontal" class="mCSB_scrollTools mCSB_3_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_3_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; width: 0px; left: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
        </div>

        <div class="pm-body clearfix">
            <div role="tabpanel" class="tab">
                <ul class="tab-nav" role="tablist">
                    <li class="active"><a href="#home9" aria-controls="home9" role="tab" data-toggle="tab" aria-expanded="true">Éleves</a></li>
                    <li role="presentation" class=""><a href="#profile9" aria-controls="profile9" role="tab" data-toggle="tab" aria-expanded="false">Alertes</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane animated fadeInRight active" id="home9">
                        <div class="contacts clearfix row">
                            @{ var rnd = new Random();}
                            @foreach (var student in Model.Students)
                            {
                               
                                <div class="col-md-2 col-sm-4 col-xs-6">

                                    <div class="c-item">
                                        <a href="" class="ci-avatar">
                                            <img src="~/img/contacts/@(student.CyberHelpUserID).jpg" alt="">
                                        </a>

                                        <div class="c-info">
                                            <strong>@student.FirstName - @student.LastName</strong>
                                            <small>@student.CyberHelpYear</small>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane animated fadeInRight" id="profile9" style="margin:5px;">
                        <p>
                            <table  class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Commentaire</th>
                                        <th style="width: 60px">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var alert in Model.Alerts)
                                    {
                                        <tr class="c-white @alert.StatusLineClass @alert.StatusColorClass">
                                            <td>@alert.RecordedDate.ToLocalTime()</td>
                                            <td>@alert.Comment</td>
                                            <td>@alert.StatusDescription</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
